
.text-light-white{
    color: rgb(167, 72, 255);
}

/* .data-table{
    border: 1px;
    box-sizing: border-box;
    border-color: black;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 3px 3px 3px rgb(29, 28, 28);
    padding: 10%;
}

p {
    align-content: center;
    font-size: larger;
} */


* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    margin-top: 0%;
  } 
  
  /* TEXT STYLES */
  
  body, html {
    
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #333;
  }
  
  h1, h2, .step p {
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    font-weight: 800;
  }
  
  h1 {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(255,255,255,0.8)
  }
  
  h3 {
    font-size: 2.0rem;   
    font-weight: bold;
    margin-top: 70px;
  }
  
  h4 {
    margin-bottom: 0px;
    margin-top: 20px;
  }
  
  p {
    font-size: 1.25rem;
    line-height: 1.9rem;
  }
  
  li {
    font-size: 1.25rem;
    line-height: 1.9rem;
  }
  
  blockquote.pull-quote {
    font-size: 1.8rem;              
    font-weight: 800;
    color: orange;
    /* margin: 70px -80px; */
  }
  
  a {
    color: #333;
  }
  
  figcaption {
    color: #777;
    padding-top: 5px;
  }
  
  footer p{
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 12px;
  }
  
  mark {
    background-color: #fbc531;
  }
  
  
  
  /* LAYOUT */
  
  article {
    position: relative;
    margin: 0;
  }
  
  figure {
    margin: 70px 0;
  }
  
  
  /* HERO SECTION */

  video#hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
  
  .hero-image {
    position: -webkit-sticky;
    position: sticky;
    z-index: -1;
  
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  
  .hero-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all 0.35s ease-in-out;
  }
  
  .visible {
    opacity: 1 !important;
  }
  
  .content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .column-right {
    width: 500px;
    margin-top: -50vh;
    color: #fff;
    padding-right: 30px;
  }
  
  .column-left {
    width: 98%;
    margin-top: -50vh;
    color: #fff;
    padding-left: 40px;
    padding-right: 60%;
  
  }
  
  .spacer {
    height: 100vh;
  }
  
  .step {
    color: #fff;
    padding-bottom: 100vh;
  }
  
  div.bordered p {
    background-color: rgba(0,0,0,0.7);
    padding: 20px 25px;
  }
  
  .step p {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  /* CONTENT SECTION */
  
  .content {
    width: 600px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  
  /* EXPLAINER SECTION */
  
  section#explainer-section .content {
    padding-bottom: 0;
  }
  
  /* STORY SECTION */
  
  section#story .content {
    padding-top: 0;
  }
  
  
  figure.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    z-index: -1;
    margin: 0px -80px;
  }
  
  figure.image {
    margin: 0 -100px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  figure.image img {
    max-width: 100%;
  }
  
  
  
  /* MOBILE */
  
  @media only screen and (max-width: 600px) {
    .column-right {
      width: 100%;
      padding: 0;
    }
  
    .column-left {
      width: 100%;
      padding: 0;
    }
  
    section#explainer .column-right {
      margin-top: 40vh;
    }
  
    section#explainer .column-left {
      margin-top: 40vh;
    }
  
    .hero-image {
      padding: 0;
    }
  
    .hero-image img {
      padding: 0;
    }
  
    .content {
      width: 100%;
      padding: 50px 20px;
      box-sizing: border-box;
    }
  
    .content-wrapper {
      width: 100%;
      display: block;
      padding: 0 20px;
      margin-top: -100vh;
    }
  
    .hero-text {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 20px;
    }
  
    div.step p {
      background-color: rgba(0,0,0,0.8);
      padding: 20px 25px;
    }
  
    blockquote.pull-quote {
      font-size: 1.563rem;
      font-weight: 800;
      margin: 50px 0px;
      color: orange;
    }
  
    figure.sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 30px;
      z-index: -1;
      margin: 0px;
    }
  
    figure.sticky h3 {
      font-size: 1.25rem;
    }
  
    figure.image {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }
    
    figure.image img {
      max-width: 100%;
    }
  
    figure.image figcaption {
      margin-left: 20px;
      margin-right: 20px;
    }

    /* video {
        max-width: 100%;
      } */
  }